@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
}

/* reuseable style code */

.my-family-Merriweather {
    font-family: 'Merriweather', serif;
}

.my-family-inter {
    font-family: 'Inter', sans-serif;
}

.row {
    max-width: 82.5%;
    margin: 120px auto 0;
}

.title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.category-discount {
    color: #f00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.common-used-btn {
    background-color: #FF0000;
    color: #fff;
    font-size: 20px;
    border: none;
}

.best-offer {
    color: #F00;
    font-size: 25px;
    font-weight: 500;
}

.description {
    color: #07021199;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

/* header related style */

#header {
    max-width: 82.5%;
    margin: 50px auto;
}

.banner {
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
}

.banner .banner-overlay {
    background: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0.00));
    border-radius: 16px;
}

.header-container {
    text-align: center;
    width: 632px;
    margin: 0 auto;
    padding: 177px 0;
}

.new-year {
    color: #fff;
    font-size: 32px;
}

.new-year-party {
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 10px;
}

/* category section related style */

.category {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.category .category-info {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.category .category-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.category .category-img {
    margin: 48px;
}

/* midnight-party section related style */

.midnight-party {
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.midnight-party .midnight-party-overlay {
    background: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0.00));
    border-radius: 16px;
}

.party-group {
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party-group .party-content .party-title {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    margin-bottom: 25px;
}

.party-group .party-content .party-description {
    color: #ffffffcc;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 45px;
}

.party-group .party-content .join-party {
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.party-group .party-img {
    width: 320px;
}

/* join-now section related style */

.join-now {
    background: linear-gradient(rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0));
    border-radius: 16px;
}

.join-now .join-now-container {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    padding: 100px 0;
}

.join-now .join-now-container .join-now-info {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.join-now .join-now-container .join-now-info .ext-color {
    color: #FF0000;
}

.join-now .join-now-container .join-now-btn {
    font-weight: 700;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 50px;
}

/* offer section related style */

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer .coming-offer {
    width: 320px;
}

.offer .coming-offer .best-offer-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.offer .offer-img {
    outline: 10px solid red;
    padding: 20px;
    border-radius: 205px;
}

.offer-info {
    width: 275px;
}

.offer-info .offer-info-title {
    color: #f00;
    font-size: 48px;
    font-weight: 700;
}

.offer .offer-info img {
    margin-top: 40px;
}

/* function section related style */

.function-container {
    text-align: center;
    width: 855px;
    margin: 0 auto;
}

.function-container .function-content>p {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.function-container .function-content .holiday {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.function-container .function-content .holiday .holiday-ext {
    color: #F00;
}

.gift-container .gift-content {
    width: 725px;
}
.function .function-banner {
    margin-top: 60px;
}

.function .function-banner .opening-gift {
    display: flex;
    align-items: start;
    background-image: url(../resources/Rectangle\ 2.png), url(../resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom center, top right;
    border-radius: 16px 0px 16px 16px;
}

.function .function-banner .opening-gift img:first-child {
    width: 665px;
    padding: 54px 0;
}

.function .function-banner .opening-gift img:last-child {
    margin: 50px 0;
}

/* gift section related style */

.gift-container .gift-img {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}

/* subscribe section related style */

.subscribe {
    background-color: #ff00000d;
    border-radius: 16px;
}

.subscribe-container {
    text-align: center;
    width: 900px;
    margin: 0 auto;
    padding: 80px 0;
}

.subscribe-container img {
    margin-bottom: 40px;
}

.subscribe-container .gmail-search-btn {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.subscribe-container .gmail-search-btn input {
    font-size: 18px;
    padding: 25px 30px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}

.subscribe-container .gmail-search-btn button {
    background-color: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 30px;
    border-radius: 0px 50px 50px 0px;
    border: none;
}

/* footer related style */

footer {
    background-color: #070211;
    color: #fff;
}

.footer-container {
    padding: 70px 0;
}

.footer-container .footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.footer-container .footer-column .ext-style {
    width: 375px;
}

.footer-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-container .footer-icon {
    text-align: center;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    padding: 45px 0;
}